# grid_env

{% if oracle_sid is defined %}
ORACLE_SID={{ oracle_sid }}; export ORACLE_SID
{% endif %}
ORACLE_HOME={{ grid_home }}; export ORACLE_HOME
PATH=$ORACLE_HOME/bin:$BASE_PATH; export PATH

LD_LIBRARY_PATH=$ORACLE_HOME/lib:/lib:/usr/lib; export LD_LIBRARY_PATH
CLASSPATH=$ORACLE_HOME/JRE:$ORACLE_HOME/jlib:$ORACLE_HOME/rdbms/jlib; export CLASSPATH
